:root {
  --color-primary: #6096B4;
  --color-secondary: #93BFCF;
  --color-terciary: #BDCDD6;
  --black: #0f0f0f;
  --white: #fff;

  --border-radius-primary: .5rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 2.6rem; 
}

h2 {
  font-size: 2.4rem; 
}

h3 {
  font-size: 2.2rem; 
}

h4 {
  font-size: 2rem; 
}

h5 {
  font-size: 1.8rem; 
}

h6 {
  font-size: 1.6rem; 
}

p,
label,
select,
option,
input,
button
{
  font-size: 1.6rem;
}

span {
  font-size: inherit;
}

button {
  background-color: var(--black);
  color: var(--white);
  border: .2rem solid var(--black);
  border-radius: var(--border-radius-primary);
  padding: .5rem 1rem;
}

.App {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
